<!DOCTYPE html>
<html>
<head>
  {% include '/partials/template/head.html.twig' %}
</head>

<body>

  {% include '/partials/content/navbar.html.twig' %}

  <a href="/recipes">Recipes</a>
  <a href="/brands">Brands</a>
  <a href="/blends">Blends</a>

  {% include '/partials/template/footer.html.twig' %}

</body>
</html>
